.home {
  width: 100%;
}

.conteiner-links {
  display: flex;
  flex-direction: column;
  margin: 10% auto;
  width: 60%;
  max-width: 800px;
}

.conteiner-links a {
  margin: 20px;
  padding: 10px;
  font-size: 1.5em;
}

@media screen and (max-width: 826px) {
  .conteiner-links {
    width: 90%;
  }
}